*.pyc
venv
.envrc
development.env
dev.env
.idea
.vscode
notebooks/reviews.csv
notebooks/reviews.zip
export-stage-1
datasets/csv/*.csv*
notebooks/.ipynb_checkpoints*
notebooks/reviews_with_category.csv
notebooks/reviews_with_category.csv.tgz
notebooks/models/*
scribble/*
notebooks/recommendations/train/.ipynb_checkpoints*
notebooks/recommendations/data/*
